{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load qr_code %}
{% block content %}

<br />
<div class="card">
    <div class="card-body">
        <div class="card-title"><h1 class="text-danger">Maaf, Data tidak ada.</h1></div>
        <h3>Data QR tidak ditemukan di database kami.</h3>
        <br />
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='{% url "scanner" %}'">Kembali Ke Scanner</button>
    </div>
</div>
<br />        
{% endblock content %}

