{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load qr_code %}
{% block content %}

<br />
<div class="card text-center bg-danger text-light">
    <div class="card-body">
        <div class="card-title"><h1 class="text-light">Maaf, QR Code Sudah Terpakai!</h1></div>
        <h3>QR Code (TWO) sudah terpakai pada {{ qr_used_at|date:"l, d F Y, G:i" }}
    </div>
</div>
<br />
<div class="card">
    <div class="card-body">
        <div class="card-title"><h1>{{ event_nama }}</h1></div>
        <h4>{{ event_info }}</h4>
        <h4>{{ event_lokasi }}</h4>
        <h4>{{ event_tanggal|date:"l, d F Y, G:i" }}</h4>
    </div>
</div>
<br />        
<div class="card">
    <div class="card-body">
        <div class="card-title"><h1>{{ nama | title }}</h1></div>
        <h4>{{ email }}</h4>
        <h4>{{ telepon }}</h4>
        <h4>{{ wilayah_nama }}</h4>
        <h4>Jumlah Yang Datang: <strong>{{  jumlah }}</strong> orang</h4>
        <h4>Nomor Kursi: <strong>{{ seat_no }}</strong></h4>
        <br />
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='{% url "scanner" %}'">Kembali Ke Scanner</button>
    </div>
</div>
<br />        
{% endblock content %}

